@page
@using Microsoft.AspNetCore.Authorization;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="bg-primary mb-3 bg-light p-5">
    <div class="container">
        <div class="col g-3 flex-column align-items-center">
            <div>
                <div class="content mb-5 pb-5">
                    <h2>WaterMe!</h2>
                    <h2>WaterMe!</h2>
                </div>
                <div>
                    <p class="lead">Track your water Consmption</p>
                    <p class="h4">& Stay <span class="text-primary fw-bold">Hydrated!</span></p>
                </div>
               
            </div>
            

        </div>
    </div>
</section>

<section>
    <div class="container">
        <a button type="button" class="btn btn-primary" asp-area="" asp-page="/Create">
            <i class="bi bi-plus"></i>
            Add Record
        </a>
    </div>

    <hr class="bg-primary"/>

</section>

<div class="container">
    <button type="button" class="btn btn-outline-primary" onclick="calculate()">Calculate Total</button>
</div>

<div class="container card mt-3">
    <table id="records" class="table table-hover border-primary">
        <thead class="">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Records[0].Container)
                </th>
                <th>
                   Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Records)
            {
                <tr class="list-row">
                    <td>
                        @Html.DisplayFor(modelItem => record.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.Container)
                    </td>
                    <td>
                        <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@record.Id">

                          <i class="bi bi-trash"></i>
                        </a>
                        <a button type="button" class="btn btn-primary" asp-page="./Update" asp-route-id="@record.Id">

                            <i class="bi bi-pen"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container mt-3">
@*     <div>
        @ViewData["Total"]
    </div> *@
    <div id="result"></div>
</div>

